{{ define "main" }}

{{ partial "navigation.html" . }}

<img class="blog-post-image" src="{{ .Params.Image | absURL }}" alt="blog-image">
<section class="section section-gradient">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
<!--        <img class="img-fluid mb-50" src="{{ .Params.Image | absURL }}" alt="blog-image" style="z-index: -1;">-->
      </div>
      <div class="col-lg-12 post-single-content">
          <div class="col-lg-12 text-center">
              <h2 class="headline-highlight" style="text-transform: none;">{{ .Title }}</h2>
              <ul class="list-inline mb-30" style="margin-top: -50px;">
                  <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
                  <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
              </ul>
              <hr class="blog">
          </div>
        <div class="post-single-content">
          {{ .Content }}
        </div>
      </div>
        <div class="col-lg-12">
        <!--        Post next/prev navigation-->
        {{ if .Site.Params.post_navigation }}
        {{ partial "post-prev-next.html" . }}
        {{ end}}

        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        </div>

        <!-- comments -->
        <!--        <div class="mt-5">-->
        <!--          {{ template "_internal/disqus.html" . }}-->
        <!--        </div>-->
    </div>
  </div>
</section>

{{ end }}
