{{ if gt .Site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<!--<section id="blog" class="section section-border-image-bottom section-border-image" style='background-image: url("images/campfyre/2160px/fire_effect_yellow_to_blue_loop.webp")'>-->
<section id="blog" class="section section-gradient">
<!--<section id="blog" class="section section-border-image-bottom section-border-image" style="padding-top: 0; padding-bottom: 0">-->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<h1 class="headline-highlight">Latest <span class="orange-color">Blog</span> Posts</h1>
				<!-- <div class="title text-center wow fadeInDown">
					<h2>{{ with i18n "blogTitle" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with i18n "blogTitle" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div> -->
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where .Site.RegularPages "Section" "==" "blog")}}
			{{ .Render "article"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main"
					href="{{ `blog` | absLangURL }}">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
