{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.characters.characters}}
{{"<!-- Start counter -->" | safeHTML}}
<section id="characters" class="section">
    <h1 class="headline-highlight">Characters</h1>
    <div class="container">
        <div class="row justify-content-center">
            {{ range .stories}}
            <div class="col-md-4">
                <div class="carved-border" data-toggle="modal" data-target="#{{.title}}">
                    <div class="character-border"
                         style='border-color: {{ .borderColor  }}; background-color: {{ .borderColor  }};'>
                        <div class="character" style='background-image: url("{{ .image | absURL }}");'>
                        </div>
                    </div>
                </div>
                <h1>{{.title}}</h1>
            </div>
            <div class="modal fade" id="{{.title}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
<!--                            <h5 class="modal-title" id="exampleModalLongTitle">{{.title}}</h5>-->
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <img src="{{ .image | absURL }}">
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
