<!--{{ $data := index .Site.Data .Site.Language.Lang }}-->

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us" style="padding-top: 0">
    <div class="container ">
        <div class="row">
            <iframe class="col-12"  name="iframe1" id="iframe1" allowtransparency="true"
                    src="https://omniform1.com/signup/v1/5e96258d4c7fa47be74d54a7_5ea21cf34c7fa4067b361089.html"
                    frameborder="0" border="0" cellspacing="0">
            </iframe>
        </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
