{{"<!-- Start counter -->" | safeHTML}}
<section id="count-down">
	<h2>Coming to Kickstarter</h2>
	<h1>
		<span class="days"></span>
		:
		<span class="hours"></span>
		:
		<span class="min"></span>
		:
		<span class="sec"></span>
	</h1>
</section>
{{"<!-- /counter -->" | safeHTML}}
