<!--{{ $data := index .Site.Data .Site.Language.Lang }}-->
{{ with $data.team.team}}
{{"<!-- Start counter -->" | safeHTML}}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<!--<script src="https://gumroad.com/js/gumroad-embed.js"></script>-->
<!--<div class="gumroad-product-embed"><a href="https://gumroad.com/l/demo">Loading...</a></div>-->

<!--<script src="https://gumroad.com/js/gumroad.js"></script>-->

<section id="contact" class="contact-us" style="padding-top: 0">
    <div class="container ">
        <div class="row">
<!--            <a class="btn btn-main" href="https://gumroad.com/l/demo">Buy my product</a>-->

<!--                <div class="post-block round-corner-40 blog-card-dropshadow">-->
<!--                    <div class="media-wrapper">-->
<!--                        <img class="img-fluid lozad round-corner-top-40" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>-->
<!--                        <p>{{ .Summary }}</p>-->
<!--                        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>-->
<!--                    </div>-->
<!--                </div>-->

            <iframe class="col-12"  name="iframe1" id="iframe1" allowtransparency="true"
                    src="https://omniform1.com/signup/v1/5e96258d4c7fa47be74d54a7_6144476246ef79001b03ef3b.html"
                    frameborder="0" border="0" cellspacing="0">
            </iframe>
        </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}


{{"<!-- /counter -->" | safeHTML}}
{{end}}
