{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.header.header.enable}}
{{ with $data.headerGame.headerGame}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="game_header" class="call-to-action bg-1 hero-area flex-column"
         data-parallax="scroll" data-image-src="{{ .bg_image_webp | relURL}}" data-z-index="0" data-bleed="0">

    <div class="container text-center flex-grow-1">
        <div class="row align-items-center">
            <div class="col-12">
                <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}"
                     onerror="this.onerror=null;this.src='{{ .logo_image | absURL }}'" alt="{{ .name }}">
            </div>
        </div>
    </div>
    <div class="position-absolute socials">

        {{ range $.Site.Params.social }}
        <a href="{{ .link | safeURL }}">
            <img src="{{.image | absURL}}">
        </a>
        {{ end }}

    </div>
    <div class="w-100 header-box-image"
         style='background-image: url("{{ .header_top | absURL }}")'>
        <div class="header-box">

            <div class="header-box">
                <div class="header-box-row">
                    <div class="dot"></div>
                    <div>1-4 player competitive fantasy action</div>
                </div>
                <div class="header-box-row">
                    <div class="dot"></div>
                    <div>Level up and gain new skills by hunting monsters for experience</div>
                </div>
                <div class="header-box-row">
                    <div class="dot"></div>
                    <div>Collect mighty weapons and slay your foes in combat</div>
                </div>

            </div>
        </div>
</section>


<!--Make overlay with background image of above section-->
<!--<section>-->
<!--	<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .header_top | absURL }}'" alt="{{ .name }}">-->
<!--</section>-->
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
