{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.header.header.enable}}
{{ with $data.header.header}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<!--<section id="cta" class="call-to-action section-sm bg-1 overly hero-area darkened"-->
<!--         data-parallax="scroll" data-image-src="{{ .bg_image_webp }}" data-z-index="0"-->
<!--&gt;-->

<!--<section id="cta" class="call-to-action section-sm bg-1 overly hero-area darkened"-->
<!--         data-parallax="scroll" data-image-src="{{ .bg_image_webp }}" data-z-index="0"-->
<!--&gt;-->

<section id="cta" class="call-to-action section-sm cta-hands darkened"
         data-parallax="scroll" data-image-src="{{ .bg_image_webp }}" data-z-index="0"
>

    <div class="row align-items-center position-relative margin-auto">
        <div class="col-lg-12 text-center">
            <img class="img-fluid lozad logo" data-src="{{ .image_webp | absURL }}"
                 onerror="this.onerror=null;this.src='{{ .logo_image | absURL }}'" alt="{{ .name }}">
        </div>
        <div class="col-lg-12 text-center">
            <div class="content" style="z-index: 99; position: relative; margin-top: -10px">
                <a href="https://apps.apple.com/app/gamenyte/id1596914935"
                   style="display: inline-block; overflow: hidden; padding-bottom: 10px;"><img
                        src="images/campfyre/apple_app_store.webp" alt="Download on the App Store"
                        style="border-radius: 13px; width: 250px; height: 83px;"></a>
                <a href="https://play.google.com/store/apps/details?id=com.gamenyte.gamenyteapp"
                   style="display: inline-block; overflow: hidden; padding-bottom: 10px; "><img
                        src="images/campfyre/google_play_store.webp" alt="Download on the Google Play Store"
                        style="border-radius: 13px; width: 250px; height: 83px;"></a>
            </div>
            <div class="arrow-down-style">
                <a href="{{ .button.link }}" class="page-scroll">
                    <img class="img-fluid lozad down-arrow" data-src="{{ .button_down_image | absURL }}"
                         onerror="this.onerror=null;this.src='{{ .button_down_image | absURL }}'" alt="{{ .name }}">
                </a>
            </div>


        </div>
    </div>
<!--    <div class="position-absolute socials">-->

<!--        {{ range $.Site.Params.social }}-->
<!--        <a href="{{ .link | safeURL }}">-->
<!--            <img class="adjust-social-sidebar-icons" src="{{.image | absURL}}">-->
<!--        </a>-->
<!--        {{ end }}-->

<!--    </div>-->
    <div class="position-absolute bottom w-100 monster-overlay"
         style="background-image: url('{{ .header_top | absURL }}')"></div>
    <!--    Removed style to set via media query-->
    <!--    <div class="position-absolute bottom w-100 monster-overlay" style=""></div>-->

</section>

<!--Make overlay with background image of above section-->
<!--<section>-->
<!--	<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .header_top | absURL }}'" alt="{{ .name }}">-->
<!--</section>-->
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
