{{ if .Site.Params.map.enable }}
{{ with .Site.Params.map }}
{{"<!-- Google Map -->" | safeHTML}}
<div class="google-map">
	<div id="map" data-latitude="{{ .map_latitude }}"
	data-longitude="{{ .map_longitude }}"
	data-marker="{{ .map_marker | absURL }}"
	data-marker-name="{{ $.Site.Title }}"></div>
</div>
<script type="text/javascript">
	window.omnisend = window.omnisend || [];
	omnisend.push(["accountID", "5e96258d4c7fa47be74d54a7"]);
	omnisend.push(["track", "$pageViewed"]);
	!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://omnisrc.com/inshop/launcher-v2.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}();
</script>

{{ end }}
{{ end }}