<section class="sticky-top navigation">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="cb032926-a740-4d24-98d3-39a921dce733"
            data-blockingmode="auto" type="text/javascript"></script>
    <nav class="navbar justify-content-between navbar-expand-lg navbar-dark">
        <a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}">
            {{ if .Site.Params.logo }}
            <img class="adjust-header-image" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
            {{ else }}
            {{ .Site.Title }}
            {{ end }}
        </a>

        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">

                {{ if .IsHome }}
                <li class="nav-item"><a class="nav-link" href="#body" data-target="#body">{{ .Site.Params.home }}</a>
                </li>

                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ $.Site.BaseURL | relLangURL }}">
                        {{ .Site.Params.home }}
                    </a>
                </li>
                <!--                    {{ range .Site.Menus.main }}-->
                <!--                    <li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL | relLangURL }}#{{ .URL }}">{{ .Name }}</a>-->
                <!--                    </li>-->
                <!--                    {{ end }}-->
                {{ end }}

                {{ $url := .URL }}
                {{ range .Site.Menus.static }}

                {{ if eq .Name "Shop"}}
                <li class="nav-item">
                    <a class='nav-link {{ if in $url .URL}}active{{ end }}' href="{{ .URL | relURL }}" target="_blank">
                        {{ .Name }}
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class='nav-link {{ if in $url .URL}}active{{ end }}' href="{{ .URL | relURL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{end}}
                {{ end }}

            </ul>
        </div>
    </nav>
</section>
