{{ $url := printf "%s" .Permalink | absLangURL }}
<div class="" style="padding-bottom: 50px; padding-top: 20px; white-space: nowrap">
	{{if .PrevInSection}}
	<a class="" href="{{.PrevInSection.Permalink}}" style="float: left;  white-space: nowrap">

		<p class="prev-next-blog-post">< previous: {{.PrevInSection.Title}}</p>
	</a>
	{{end}}

	{{if .NextInSection}}
	<a class="" href="{{.NextInSection.Permalink}}" style="float: right">

		<p class="prev-next-blog-post">next: {{.NextInSection.Title}}></p>
	</a>
	{{end}}
</div>