{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<!--<section id="services" class="bg-one section">-->
<section id="features" class="section">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
<!--				{{"&lt;!&ndash; section title &ndash;&gt;" | safeHTML }}-->
				<h1 class="headline-highlight">Platform <span class="orange-color">Features</span></h1>
<!--				<div class="title text-center wow fadeIn" data-wow-duration="500ms">-->
<!--					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">-->
<!--							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>-->
<!--					<div class="border-meghna"></div>-->
<!--				</div>-->
			</div>
			{{"<!-- /section title -->" | safeHTML }}

			{{ range .service_item}}
			{{"<!-- Single Service Item -->" | safeHTML }}
			<article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="{{ .icon }}" style="color: #ff6232"></i>
					</div>
					<h3>{{ .name | markdownify }}</h3>
					<p>{{ .content | markdownify }}</p>
				</div>
			</article>
			{{"<!-- End Single Service Item -->" | safeHTML }}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
