<!--{{ $data := index .Site.Data .Site.Language.Lang }}-->
{{ with $data.team.team}}
{{"<!-- Start counter -->" | safeHTML}}
<!--<section id="team" class="section  section-border-image-flipped" style='background-image: url("{{ .bg | absURL }}"); background-repeat: round; padding-top: 0' >-->
<section id="team" class="section  section-gradient">
    <h1 class="headline-highlight">Team</h1>
    <div class="container">
        <div class="row">
            {{ range .team_member}}
            <div class="col-md-4">
                <div class="member">
                    <img class="rounded-circle" src='{{ .image | absURL }}'>
                    </img>
                    <div>
                        <h4>{{.name}}</h4>
                        <h5>{{.designation}}</h5>
                        <p>{{.content}}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
