{{"<!-- Start counter -->" | safeHTML}}
<section id="text" class="section">
    <h1 class="headline-highlight"><span class="red-font">Welcome</span> to the Battleground</h1>
    <div class="container painted-border">
        <div class="row text">
            You are a powerful hero, fighting for glory and honor in a great outdoor arena, filled with furious
            monsters. Collect legendary treasures, level up and gain new skills, all while fighting in this epic battle
            against your foes. Hero Clash is a game about powering up your hero, by searching for unique magical
            equipment and unlocking new hero skills. Players compete against each other in a large outdoor arena, where
            each region offers strategic opportunities in the battle for glory and honor.

            Will you be the fierce warrior queen, destined to slay your enemies while wielding legendary weapons and
            armor? Will you be the noble paladin champion, hellbent on bringing your foes to justice with every blow of
            your hammer and every bash of your shield? Will you be the cunning wizard, yielding powerful magic and
            laying waste to your enemies with fire and steel alike? Will you be the furious dwarven berserker, rampaging
            your way to victory in a blood crazed frenzy? Will you be the nimble and swift ranger, bombarding your foes
            from afar with arrows of deadly precision?
        </div>
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
