{{"<!-- Start counter -->" | safeHTML}}
<section id="text" class="section">
    <h1 class="headline-highlight">How to Play</h1>
    <div class="container painted-border">
        <div class="row text">
            In HeroClash players compete by collecting trophies. The winner is the player who collects the required
            number of trophies first. Trophies are gained by defeating monsters or other players in combat. The more
            powerful the monster the more trophies it is worth. However, to stand a chance against the most powerful
            monsters, players will need to collect treasures and unlock new skills by gaining experience. Each region on
            the board offers a tactical advantage to the hero who occupies it, and determining where to move during a
            player’s turn is an important part of the strategy in HeroClash. After moving at the start of their turn,
            the player gets to roll the special HeroClash dice. Each dice can be rerolled up to two times, and depending
            on the outcome they can help the hero either: collect treasure, summon monsters to fight, perform melee or
            ranged attacks, regain lost health, or gain additional Hero Power. Hero Power is used to activate the hero’s
            unique skills, and therefore this is an important resource to manage during a game of HeroClash. Players can
            also cast spells and use their equipment to gain an edge throughout the game. As the action intensifies the
            true champion will be the player who utilizes every advantage in their arsenal to push for victory. Will you
            be the mighty conqueror to claim glory and honor in the arena? Then you must be prepared when the heroes
            clash - in HeroClash!
        </div>
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
