<!--{{ $data := index .Site.Data .Site.Language.Lang }}-->
{{ with $data.team.team}}
{{"<!-- Start counter -->" | safeHTML}}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}

<section id="contact" class="contact-us">
    <div class="container text-center">
        <div class="row">

            <h2></h2>
            <h2>Thank you for your order! <br>We will send you an email with a code to unlock your content once the app goes live (estimated December 2021)</h2>
<!--            <a class="btn btn-main" href="https://gumroad.com/l/demo">Buy my product</a>-->

<!--                <div class="post-block round-corner-40 blog-card-dropshadow">-->
<!--                    <div class="media-wrapper">-->
<!--                        <img class="img-fluid lozad round-corner-top-40" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>-->
<!--                        <p>{{ .Summary }}</p>-->
<!--                        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>-->
<!--                    </div>-->
<!--                </div>-->


        </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}


{{"<!-- /counter -->" | safeHTML}}
{{end}}
