{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.welcomeToBG.welcomeToBG}}
{{"<!-- Start counter -->" | safeHTML}}
<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
<!--<section id="welcomeToBG" class="section section-border-image" style='background-image: url("{{ .bg | absURL }}"); object-fit: none'>-->
<section id="welcomeToBG" class="section section-gradient">
    <h1 class="headline-highlight" style="margin-bottom: 0; text-transform: none;"><b>How to <span class="red-font">PLAY</span></b></h1>
    <br/>
<!--    <h1 style="color: #fffaf7; text-shadow: #260924 0 2px 5px; font-size: x-large; font-weight: bold; text-transform: none;">GameNyte lets you and the people you’re with<br>easily connect your devices to play digital social games together</h1>-->
    <h1 class="welcome-to-bg-h1" style="font-size: x-large; color: #fffaf7;">GameNyte lets you and the people you’re with<br>easily connect your devices to play digital social games together</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            {{ range .cards}}
            <div class="col-md-3 textBox">
                <div class="avatar" data-target="#{{.title}}">{{.circle}}</div>
                <h3>{{ .text }}</h3>
<!--                <img class="img-fluid" style="display: flex; justify-content: center; align-items: center; max-height: 100%;"  src="{{ .image | absURL }}">-->
                <img class="img-responsive"   src="{{ .image | absURL }}" style="max-width: 100%">
<!--                <img class="img" src="{{ .image | absURL }}" style="max-width: 100%">-->
            </div>
            <div class="modal fade" id="{{.title}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{.title}}</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{.text}}
                        </div>

                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <!-- <a href="./game" type="button" class="btn btn-primary btn-lg" >Learn More!</a> -->
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
