{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.whatisgn.whatisgn.enable}}
{{ with $data.whatisgn.whatisgn}}
{{"<!-- whatisgn -->" | safeHTML }}
<!--<section id="services" class="bg-one section">-->
<section id="whatisgn" class="section">

    <div class="container" style="margin-top: -100px;">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <!--				{{"&lt;!&ndash; section title &ndash;&gt;" | safeHTML }}-->
                <h1 class="headline-highlight">What is <span class="orange-color">GameNyte</span></h1>
                <!--				<div class="title text-center wow fadeIn" data-wow-duration="500ms">-->
                <!--					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">-->
                <!--							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>-->
                <!--					<div class="border-meghna"></div>-->
                <!--				</div>-->
            </div>

            <div class="col-lg-12"
                 style="margin-top: -30px; color: white; max-width: 100%; text-align: center; font-size: 20px;">
                GameNyte is a digital platform for social games unlike any other in the world!
                A big claim, how so? Well, all the games on the platform are designed
                to be played by people in the same room.
            </div>

            <div class="col-lg-12" style="margin-top: 30px;  max-width: 100%; text-align: center;">
                Imagine playing a card game with four players using four phones and a tablet. Each player’s phone shows
                their card hand (which can be kept hidden from the other players), and the tablet shows the shared play
                area, where the cards are played. The GameNyte app comes with a growing library of social games, which
                take advantage of a multi-device interface like the example above. To get started, one player simply
                selects a game to play from the library and hosts it, while the other players connect by scanning a QR
                code. Then you start the game and have fun playing together!
            </div>

            {{"<!-- /section title --> " | safeHTML }}

            <!--			{{ range .service_item}}-->
            <!--			{{"&lt;!&ndash; Single Service Item &ndash;&gt;" | safeHTML }}-->
            <!--			<article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">-->
            <!--				<div class="service-block text-center">-->
            <!--					<div class="service-icon text-center">-->
            <!--						<i class="{{ .icon }}" style="color: #ff6232"></i>-->
            <!--					</div>-->
            <!--					<h3>{{ .name | markdownify }}</h3>-->
            <!--					<p>{{ .content | markdownify }}</p>-->
            <!--				</div>-->
            <!--			</article>-->
            <!--			{{"&lt;!&ndash; End Single Service Item &ndash;&gt;" | safeHTML }}-->
            <!--			{{ end }}-->
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
