{{ define "main" }}
<!--{{ partial "head.html" . }}-->
{{ partial "navigation.html" . }}

{{ partial "header_hc.html" . }}
{{ partial "whatisgn.html" . }}
<!--<div class="section section-border-image" style="background-color: #0b0206">-->
<!--    {{ partial "counter.html" . }}-->

<!--    <h4><a href=".">Visit our Kickstarter!</a></h4>-->
<!--</div>-->

<!--{{ partial "youtube.html" . }}-->

{{ partial "welcomeToBG.html" . }}

<!-- {{ partial "news.html" . }} -->

<!--{{ partial "banner.html" . }}-->

<!--{{ partial "about.html" . }}-->

<!--{{ partial "feature.html" . }}-->

<!--{{ partial "cta.html" . }}-->

<!--{{ partial "service.html" . }}-->

<!--{{ partial "skill.html" . }}-->

<!--{{ partial "portfolio.html" . }}-->

<!--{{ partial "funfacts.html" . }}-->

<!--{{ partial "team.html" . }}-->

<!--{{ partial "pricing.html" . }}-->

<!--{{ partial "testimonial.html" . }}-->

{{ partial "service.html" . }}

{{ partial "blog.html" . }}

<!-- {{ partial "contact.html" . }} -->

<!--{{ partial "map.html" . }}-->

{{ end }}
